# Google OAuth Configuration (Frontend Only)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1041570512238-c1d24j95hjctqmd9k9i291o2evvemi5j.apps.googleusercontent.com

# Backend API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080

# zkSync Configuration
NEXT_PUBLIC_ZKSYNC_RPC_URL=https://sepolia.era.zksync.dev
NEXT_PUBLIC_GOVERNANCE_TOKEN_ADDRESS=0x21341E1672ee0A7ddADB5D7BFF72F93C8E81EF3e
NEXT_PUBLIC_PAYMASTER_ADDRESS=0x10219E515c3955916d79A1aC614B86187f0872BC

# Web3Auth Configuration
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=BMyhx6_Z56hIdT6pIXkJlLMRUDbNx-rahw9Xf23N8JUVszyn8QkOvaZtEyFa3cVf8z5n7uImWDMIpzuRilkCnYo
WEB3AUTH_CLIENT_SECRET=774b452dedf**********************************************7eebfb75
NEXT_PUBLIC_WEB3AUTH_NETWORK=sapphire_devnet
