node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


# Hardhat Ignition deployment artifacts
ignition/deployments/

# Foundry build output
/zkout

# Local tools/binaries
/tools/
/foundryup-zksync
/solidity-contract/src/